/***************************************************/
/*   Main containers                               */
/***************************************************/

body {
	background: #E9E9E9 url('../images/bg/wood.jpg');
	color: #666;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial;
	font-size: 62.5%;
}

.entityDetails .name{
	font-weight:bold;
	font-size: 15px;
}

#results a{
	color:#1871B5;
	text-decoration: underline;
}

.entities a{
	margin-right:10px;
}
#results{
	margin-left: 30px;
}

#results .result_entry{
	margin-bottom: 20px;
}

#results h4{
	margin-top:10px;
	color: #1871B5;
	font-weight:bold;
	font-size: 15px;
}
#results p{
	font-size: 13px;
	margin: 0px;
}

#results .entities{
	font-weight:bold;
	margin-top:7px;
	text-decoration: underline;
}


#searchForm{
	margin: 20px 0px 0px 0px;
	
}

#rootContainer {
	background: #FFF url('../images/root-bg-bottom.jpg') bottom repeat-x;
	border-right: 10px solid #1871B5;
	-moz-box-shadow: 0 3px 8px #CCC;
	-webkit-box-shadow: 0 3px 8px #CCC;
	box-shadow: 0 3px 8px #CCC;
	-moz-border-radius: 0 100px 0 0;
	-webkit-border-radius: 0 100px 0 0;
	border-radius: 0 100px 0 0;
	margin: 65px auto 0;
	min-height: 450px;
	overflow: hidden;
	position: relative;
	width: 900px;
	behavior: url('scripts/CSS3PIE/PIE.htc');
}

#rootContainerLayer {
	background: url('../images/root-bg2.jpg') top repeat-x;
	-moz-border-radius: 0 150px 0 0;
	-webkit-border-radius: 0 150px 0 0;
	border-radius: 0 150px 0 0;
	height: 80px;
	position: relative;
	top: 0;
	width: 890px;
	behavior: url('scripts/CSS3PIE/PIE.htc');
}

img#ie8Corner {
	display: none;
	position: absolute;
	right: -20px;
}

/***************************************************/
/*   Home page                                     */
/***************************************************/


#homePage {
	float: left;
	min-height: 230px;
	margin: 130px 0 40px 0px;
	margin-top: 25px; /* Position for initial page load. Default is 130px as above */
	padding: 0 25px;
	position: relative;
}

#homePage > h1 {
	font-weight: bold;
}

#homePage > h1 span {
	font-weight: normal;
}

#intro {
	margin-top: 15px;
	opacity: 1; /* Opacity for initial page load. Default is 1; */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/***************************************************/
/*   Copyright                                     */
/***************************************************/

#copyright {
	color: #444;
	font-family: 'Pontano Sans', 'Lucida Sans Unicode', 'Lucida Grande', Arial;
	font-size: 1.3em;
	margin: 20px 0 50px;
	text-align: center;
}

#copyright span {
	display: block;
}

/***************************************************/
/*   Share classes                                 */
/***************************************************/

a.link {
	border-bottom: 1px dotted #666;
}

a.link:hover {
	color: #1871B5;
}

p.address, p.phone, p.email, p.website {
	background: url('../images/contact-icons.gif') left center no-repeat;
	padding-left: 30px;
}

p.address {
	background-position: 0 -14px;
	min-height: 21px;
}

p.phone {
	background-position: 0 -35px;
	min-height: 19px;
}

p.email {
	background-position: 0 3px;
	min-height: 14px;
}

p.website {
	background-position: 0 -54px;
	min-height: 18px;
}
